
<style>
.img-circle {
  display: block;
      margin-left: auto;
      margin-right: auto;  
    border-radius: 50%;
}
</style>

<ion-view title="Login">
    <ion-content padding="true" style="background: url(img/material.png) no-repeat center;" class="has-header">
        <div class="spacer" style="width: 283px; height: 50px;"></div>

        <img ng-click="loginOAuth0()" class="img-circle" src="img/logos/scaled/270.png">

        <div class="spacer" style="width: 283px; height: 67px;"></div>
        <button ng-click="loginOAuth0()" class="button button-balanced button-block button-large">Ingresar</button>
    </ion-content>
</ion-view>
