<ion-view view-title="Citas">
  <ion-content padding="true" class="has-header">



        <div class="list card">
          <div class="item item-avatar">
            <img src="{{prestadorData.pictureUrl}}">
            <h2>{{prestadorData.name}}</h2>
            <p>{{prestadorData.email}}</p>
          </div>

          <div class="item item-body">
            <!--
            <img class="full-image" src="delorean.jpg">
            -->
            <p>
            <!--
              This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
              the content is from a card-body consisting of an image and paragraph text. The footer
              consists of tabs, icons aligned left, within the card-footer.
             -->
            </p>
            <p>
              <!--
              <a href="#" class="subdued">1 Like</a>
              <a href="#" class="subdued">5 Comments</a>
              -->
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
           <!--
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
            -->
          </div>

        </div>

        <form>
            <label class="item item-select" name="Mes">
                <span class="input-label">Mes</span>
                 <select  
                          ng-options="month for month in months"
                          ng-change="monthChange(selectedMonth)"
                          ng-model="selectedMonth"></select>
            </label>
            <label class="item item-select" name="Dia">
                <span class="input-label">Dia</span>
                <select  
                          ng-options="day for day in days"
                          ng-change="dayChange(selectedDay, selectedMonth)"
                          ng-model="selectedDay"></select>
            </label>
            <label class="item item-select" name="Disponibilidad">
                <span class="input-label">Disponibilidad</span>
                <select  
                          ng-options="item.label for item in disponibilidad"
                          ng-change="disponibilidadChange(selectedDisponibilidad)"
                          ng-model="selectedDisponibilidad"></select>
            </label>
            <label class="item item-input">
              <input type="text" ng-model="paciente.numeroContacto" placeholder="Numero de telefono de contacto">
            </label>
        </form>
        <button ng-disabled="invalido" ng-click="solicitar(selectedDisponibilidad)" class="button button-positive button-block ">Solicitar</button>
    </ion-content>
</ion-view>